@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  background-color: #03072c;
  color: azure;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.banner {
  background-color: #03072c;
  color: azure;
  justify-content: center;
}

.logo {
}

.footer {
  background-color: #6ab4f0;
  color: #000000;
  justify-content: center;
}

body {
  background: linear-gradient(
    180deg,
    #03072c 7%,
    #060f5f 22%,
    #081378 41%,
    #6ab4f0 93%
  );
  color: azure;
  min-height: 100vh; /* Equivalent to min-h-screen */
  display: flex; /* Equivalent to flex */
  flex-direction: column; /* Equivalent to flex-col */
}

.custom-border {
  border-width: 2px;
  border-color: #d1d5db;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: #000000;
}

.center {
  display: flex; /* Equivalent to flex */
  align-items: center; /* Equivalent to items-center */
  justify-content: center; /* Equivalent to justify-center */
  padding-top: 0.75rem; /* Equivalent to pt-3 */
}

.field {
  padding-right: 1rem;
}

.custom-calendar {
  border-width: 2px;
  border-color: #d1d5db;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: #000000;
}

.custom-button {
  background-color: #D9D9D9;
  border: none;
  color: #000000;
  border-radius: 1rem;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

#wrapper {
  width: 500px;
  overflow: hidden; /* add this to contain floated children */
}
#first {
  width: 300px;
  float: left; /* add this */
}
#second {
  float: left; /* add this */
}
