* {
  font-family: sans-serif;
}

nav {
  background: #eee9e7;
  padding: 20px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

.App {
  text-align: center;
  background: linear-gradient(
    151deg,
    #03072c 7%,
    #060f5f 22%,
    #081378 41%,
    #6ab4f0 93%
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
