@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  background-color: #03072c;
  color: azure;
  justify-content: center;
}

.banner {
  background-color: #03072c;
  color: azure;
  justify-content: center;
}

.footer {
  background-color: #000000;
  color: azure;
  justify-content: center;
}
